<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|70"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="padding-top:var(--wp--preset--spacing--60);padding-bottom:var(--wp--preset--spacing--70)"><!-- wp:group {"align":"wide","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide"><!-- wp:post-terms {"term":"category","fontSize":"xs"} /-->
<!-- wp:post-title {"fontSize":"4xl"} /-->
<!-- wp:group {"layout":{"type":"flex","flexWrap":"wrap"}} --><div class="wp-block-group"><!-- wp:post-date {"fontSize":"sm"} /--><!-- wp:post-author-name {"fontSize":"sm"} /--></div><!-- /wp:group --></div><!-- /wp:group -->
<!-- wp:post-featured-image {"align":"wide","aspectRatio":"16/8","style":{"spacing":{"margin":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|60"}}}} /-->
<!-- wp:post-content /-->
<!-- wp:separator {"align":"wide","backgroundColor":"mist","className":"is-style-wide","style":{"spacing":{"margin":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|40"}}}} --><hr class="wp-block-separator alignwide has-text-color has-mist-color has-alpha-channel-opacity has-mist-background-color has-background is-style-wide" style="margin-top:var(--wp--preset--spacing--60);margin-bottom:var(--wp--preset--spacing--40)"/><!-- /wp:separator -->
<!-- wp:post-navigation-link {"type":"previous","showTitle":true} /-->
<!-- wp:post-navigation-link {"showTitle":true} /--></main><!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->